/* .navbar-brand1{
padding-top: 5rem;
max-width: 17.25rem;
padding:2rem  !important;
height: 6rem !important;
margin-right: 0rem;
margin-left: 50rem;
border-top:0.1875 solid var( --primary-dark);
align-items:center;
text-transform: uppercase;
font-weight: normal;
margin-top: 10rem;

} */

/* .main-footer {
    color: white;
    background-color: dodgerblue;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%; */
    /* margin-bottom: auto;  */
    /* display: flex;
    flex-direction: column;
    
  }

  .container{
      height:10rem
  }
   */

   /* .main-footer {
    color: white;
    background-color:dodgerblue;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }
 */
 #footer{
   margin-top: 5rem;
 }


 