/* .container-1{
    position:relative;
    width: 50rem;
    height: 50rem;
 
    background-color: rgba(0,0,0,0.071);
    padding: 20px;
    margin: 0 auto;
    margin-top: 10rem;
    text-align: center;
} */
.container-2{
    position:relative;
    /* background: url(office1.jpg)no-repeat; */
    background-size: cover;
    background-position: center;
    height: 120vh;
    padding: 20px;
    margin: 0 auto;
    margin-top: 5rem;
    /* text-align: center; */
    /* width: 150vh; */
}

.about-Name {
    font-weight: 100;
    letter-spacing: 6;
    font-size: 3rem;
color: Black
}

h2 {
    font-weight: 100;
    letter-spacing: 1;
    font-size:2rem;
}


.profile-pic {
    /* border-radius:50%; */
    height: 13rem;
    width: 13rem;
    /* border-style: solid; */
    /* border-color: white; */
    /* border-width: 10px;
    border-radius:60%; */
    }

 p{
    font-size:24px
        
        }
 /* .line-break{ */
            /* width: 200px; */
            /* margin:0 auto; */
            /* border-top: 1px solid black */
        /* } */

.logoName{
    color:black
}

.description{
    color:black;
    margin-top: 10rem;
    font-size: 3rem;
}