.jumbotron3{
    /* text-align: center; */
    margin-top: 1rem;
    
}

.row1 {
    margin-bottom: 10rem;
    
}
.Leadheader{
color:black;
text-transform:uppercase;
font-size: 4rem;
margin-top: 1rem;
}

.addLeads{
    width:20rem;
    height: 1rem;
}

.btn1{
    width: 10%;
    margin: 2rem ;
    background-color: dodgerblue;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 1rem;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 3rem;
}

.close{
    width: 10%;
    margin: 2rem ;
    background-color: dodgerblue;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 1rem;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 3rem;
}