#header {
    position:relative;
    background: url(office1.jpg);
    background-size: cover;
    background-position: center;
    /* padding-top: 5%; */
    padding-bottom: 5%;
/* color:black; */
margin-top:0rem;
    height: 45vh;

}
.header-welcome{
    font-size: 4rem;
    color:black
}
