#contact{
    margin-top:20rem;
    position:relative;
    background: url(back4.png)no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width:100rem;
}
.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color:white;
    font-weight: 100;
    letter-spacing: 6;
    font-size: 80px;
}
h2 {
    color:white;
    font-weight: 100;
    letter-spacing: 6;
    font-size: 36px;
    margin-top: 10rem;
    
}
.social-icons{
    font-size:3rem;
    margin-top: 5rem;
    display: inline-block;
    
}
.social-icons a{
    color:white;

}

.social-icons a:hover{
    color: rgb(86, 86, 243)
}
.fab {
    margin-right: 2rem;
} 

.line-break2{
    width: 15rem;
    border-top:1px solid white;
}

