#about{
    position:relative;
    background: url(../../Images/office1.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    text-align: center;
}
.about-Name {
    letter-spacing: 6;
    font-size: 4rem;
    color:rgb(255, 255, 255)
}
 .Lead-Header{
     color: white;
     margin-top: 1rem;
     text-transform: uppercase;    
 }